<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bank.css">
    <title>Открыть счет</title>
    <style>
    html { background-color: rgb(235, 235, 235);}
    .chet_gold_info {padding-left: 20px; width: auto;}
    </style>
</head>
<body>
    <div class="ALL">
        <div class="head">
            <a href="/bank/"><div class="back_point"></div></a>
            <div class="My_Bank"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="chet_gold_info">
            <div class="schet2">
                <form method="post" action="{% url 'create_account' account_type %}">
                    <h2>Открыть Kaspi Депозит</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="открыть счет">
                </form>
                <br>
            </div>
        </div>
        <div class="offers"></div>
        <div class="foot">
            <div class="foot_1"><a href="/"><img src="/static/images/kaspi_MAIN_no_activ_ico.png"></a></div>
            <div class="foot_1"><img src="/static/images/kaspi_QR_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_MSGS_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_SERVICES_no_activ_ico.png"></div>
        </div>    
    </div>
</body>
</html>