<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bank.css">
    <title>История переводов</title>
</head>
<body>
    <div class="ALL">
        <div class="head">
            <a href="/"><div class="back_point"></div></a>
            <div class="My_Bank"></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        {% if user.is_authenticated %}
        <div class="chet_gold_info">
            {% if Transfers %}
                {% for transfer in Transfers %}
                <div class="chet_gold">
                    <div class="ico_schet">
                        <img src="/static/images/kaspi_TransAnoverHistory_ico.png">
                        <p>ФИО контр-та</p>
                    </div>
                    <div class="schet">
                        <p>{{ transfer.datetime }} сумма {{ transfer.outamount }} {{ transfer.outaccount.currency }}</p>
                        <p>со счета своего {{ transfer.outaccount.type}} на счет {{ transfer.inaccount.owner.fio }} {{ transfer.inaccount.type }}</p>
                        <p>остаток на счете {{ transfer.outbalance }} </p>
                    </div>
                </div>
                <br>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
        {% endif %} 
        <div class="chet_gold">
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="foot">
            <div class="foot_1"><img src="/static/images/kaspi_MAIN_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_QR_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_MSGS_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_SERVICES_no_activ_ico.png"></div>
        </div>    
    </div>
</body>
</html>