<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bank.css">
    <style>
    html { background-color: rgb(235, 235, 235);}
    .transfer {padding-left: 20px; width: auto;}
    </style>
    <title>Переводы</title>
</head>
<body>
    <div class="ALL">
        <div class="head">
            <a href="/transfers"><div class="back_point"></div></a>
            <div class="My_Bank"></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="transfer">
            <div>
                <form method="post" action="/transfers/any/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="ПЕРЕВЕСТИ">
                </form>
                <br>
            </div>
        </div>
        <div class="offers"></div>
        <div class="foot">
            <div class="foot_1"><img src="/static/images/kaspi_MAIN_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_QR_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_MSGS_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_SERVICES_no_activ_ico.png"></div>
        </div>    
    </div>
</body>
</html>