.ALL
{
    border: 1px solid black;
    height: 700px;
    width: 500px;
    background-color: rgb(219, 218, 218);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.head  
{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    flex-direction: row;

   
}

.back_point
{
    display: inline-block;
    height: 100%;
    width: 80px;
    text-align: center;
}

.My_Bank
{
    display: inline-block;
    height: 100%;
    width: 414px;
    box-sizing: border-box;
    text-align: left;   /* текст влево */
    text-indent:30px;  /* отступ текста в пикселях */
    vertical-align: bottom; /* Выравниваем див после внесения текста */
    
}

.chet_gold
{
    width: 100%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    box-sizing: border-box;
    flex-direction: row;
}

.chet_gold_icon
{
    display: inline-block;
    height: 100%;
    width: 80px;
    text-indent:20px;  /* отступ текста в пикселях */
}

.chet_gold_info
{
    display: inline-block;
    height: 100%;
    width: 414px;
    box-sizing: border-box;
    text-align: left;   /* текст влево */
    text-indent:30px;  /* отступ текста в пикселях */
    vertical-align: bottom; /* Выравниваем див после внесения текста */
}

.chet_red  
{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    box-sizing: border-box;
    flex-direction: row;
}

.icon_point
{
    display: inline-block;
    height: 100%;
    width: 80px;
    text-align: left;
    text-indent:20px;  /* отступ текста в пикселях */
}

.My_Red
{
    display: inline-block;
    height: 100%;
    width: 414px;
    box-sizing: border-box;
    text-align: left;   /* текст влево */
    text-indent:30px;  /* отступ текста в пикселях */
    vertical-align: bottom; /* Выравниваем див после внесения текста */
    
}


.chet_deposit
{
    width: 100%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    box-sizing: border-box;
    flex-direction: row;
}

.chet_deposit_icon
{
    display: inline-block;
    height: 100%;
    width: 80px;
    text-indent:20px;  /* отступ текста в пикселях */
}

.chet_deposit_info
{
    display: inline-block;
    height: 100%;
    width: 414px;
    box-sizing: border-box;
    text-align: left;   /* текст влево */
    text-indent:30px;  /* отступ текста в пикселях */
    vertical-align: bottom; /* Выравниваем див после внесения текста */
}