.ALL {
    min-height: 800px;
    width: 500px;
    background-color: rgb(219, 218, 218);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.head  {
    width: 500px;
    height: 85px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    flex-direction: row;
}

.back_point {
    display: inline-block;
    height: 100%;
    width: 80px;
    background-image: url("/static/images/kaspi_backpoint_ico.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.My_Bank {
    display: inline-block;
    height: 100%;
    width: 414px;
    background-image: url("/static/images/MyBankHead.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.reg {
    width: 100%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    /* display: flex;
    flex-direction: column; */
}

.stage2 {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
}

.offer1 {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
}

.offer2 {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}



.foot {
    position: sticky;
    bottom: 0;
    width: 500px;
    height: 110px;
    background-color: white;
    left: auto;
    right: auto;
    flex-direction: row;
}

.foot_1 {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}