<!DOCTYPE html>
<html lang="en">
{% if product %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/product.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <style>
        html { background-color: rgb(235, 235, 235);}
        .product {padding-left: 20px; padding-right: 20px; width: auto;}
        </style>
    <title>Оформление покупки {{ product.name }}</title>
</head>
{% endif %}
<body>
    <div class="ALL">
        <div class="head">
            <div class="search">
                <a href="/shop/"><div class="a001"><img src="/static/images/kaspi_backpoint2_ico.png"></div></a>
                <div class="a002"><img src="/static/images/kaspi_Search_fake.png"></div>
            </div>
        </div>
        <div class="stage1"><H1>пусто</H1></div>
        {% if product %}
                <div class="product">
                    <H1>{{ product.name }}</H1>
                    <hr>
                    <p>Стоимость: {{ product.price}} тенге</p>
                    <p>Рейтинг товара: {{ product.rating}}</p>
                    <p>В наличии: {{ product.quantity }} шт.</p>
                    <hr>
                    <form method="post" action="/shop/purchase/{{ product.pk }}/">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Подтвердить">
                    </form>
                </div>
        {% endif %}
        <div class="offers"></div>
        <div class="offers"></div>
        <div class="offers"></div>
        <div class="foot">
            <a href="/shop/"><div class="foot_1"><img src="/static/images/kaspi_shop_no_activ_ico.png"></div></a>
            <a href="catalog/"><div class="foot_1"><img src="/static/images/kaspi_catalog_no_activ_ico.png"></div></a>
            <div class="foot_1"><img src="/static/images/kaspi_izbranoe_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_trash_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_zakazy_no_activ_ico.png"></div>
        </div>
    </div>
</body>
</html>