<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/shop.css">
    <title>Каспи магазин</title>
</head>
<body>
    <div class="ALL">
        <div class="head">
            <div class="search">
                <a href="/"><div class="a001"><img src="/static/images/kaspi_backpoint2_ico.png"></div></a>
                <div class="a002"><img src="/static/images/kaspi_Search_fake.png"></div>
            </div>
        </div>
        <div class="stage1">
            <div class="stage2_stage">

            </div>
            <div class="stage2_stage">

            </div>
        </div>
        <div class="stage2">
            <div class="stage2_stage">
                <div class="stage" id="app1"><a href="QR/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
                <div class="stage" id="app2"><a href="bank/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
                <div class="stage" id="app3"><a href="QR/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
                <div class="stage" id="app4"><a href="transfers/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
            </div>
            <div class="app_stage">
                <div class="stage" id="app5"><a href="QR/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
                <div class="stage" id="app6"><a href="QR/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
                <div class="stage" id="app7"><a href="QR/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
                <div class="stage" id="app8"><a href="QR/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
            </div>
        </div>
        {% if products %}
            {% for product in products %}
            <a href="/shop/{{ product.pk }}/">
                <div class="product">
                    <div class="product_img"><img src="/static/images/tovar_img.jpg"></div>
                    <div class="product_text">                    
                        <H1>{{ product.name }}</H1>
                        <hr>
                        <p>{{ product.category }}</p>
                        <H1>{{ product.price }} Т </H1>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endif %}
        <div class="foot">
            <a href="/shop/"><div class="foot_1"><img src="/static/images/kaspi_shop_activ_ico.png"></div></a>
            <a href="catalog/"><div class="foot_1"><img src="/static/images/kaspi_catalog_no_activ_ico.png"></div></a>
            <div class="foot_1"><img src="/static/images/kaspi_izbranoe_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_trash_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_zakazy_no_activ_ico.png"></div>
        </div>
    </div>
    
</body>
</html>