<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/shop.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <style>html { background-color: rgb(235, 235, 235);}</style>
    <title>Каспи магазин</title>
</head>
<body>
    <div class="ALL">
        <div class="head">
            <div class="search">
                <a href="/"><div class="a001"><img src="/static/images/kaspi_backpoint2_ico.png"></div></a>
                <div class="a002"><img src="/static/images/kaspi_Search_fake.png"></div>
            </div>
        </div>
        <div class="stage1">
            <div class="scrolling-wrapper">
                <img src="/static/images/offer01.png" alt="Image 1">
                <img src="/static/images/offer02.png" alt="Image 2">
                <img src="/static/images/offer03.png" alt="Image 3">
                <img src="/static/images/offer04.png" alt="Image 4">
                <img src="/static/images/offer05.png" alt="Image 5">
                <img src="/static/images/offer06.png" alt="Image 6">
                <img src="/static/images/offer07.png" alt="Image 7">
            </div>
        </div>
        {% if products %}
        <div class="stage3">
            <div class="scrolling-wrapper3">
                {% for product in products %}
                <a href="/shop/{{ product.pk }}/">
                    <div class="product3">
                        <div class="product_img3"><img src="/static/images/tovar_img.jpg"></div>
                        <div class="product_text3">                    
                            <h1>{{ product.name }}</h1>
                            <hr>
                            <p>{{ product.category }}, рейтинг: {{ product.rating }}</p>
                            <h1>{{ product.price }} Т </h1>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="apple">
            <img src="/static/images/apple.png" alt="apple">
        </div>
        <div class="nedavno">
            <img src="/static/images/nedavno.png" alt="nedavno">
        </div>
        {% if products %}
            {% for product in products %}
            <a href="/shop/{{ product.pk }}/">
                <div class="product">
                    <div class="product_img"><img src="/static/images/tovar_img.jpg"></div>
                    <div class="product_text">                    
                        <H1>{{ product.name }}</H1>
                        <hr>
                        <p>{{ product.category }}</p>
                        <H1>{{ product.price }} Т </H1>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endif %}
        <div class="foot">
            <a href="/shop/"><div class="foot_1"><img src="/static/images/kaspi_shop_activ_ico.png"></div></a>
            <a href="catalog/"><div class="foot_1"><img src="/static/images/kaspi_catalog_no_activ_ico.png"></div></a>
            <div class="foot_1"><img src="/static/images/kaspi_izbranoe_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_trash_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_zakazy_no_activ_ico.png"></div>
        </div>
    </div>
</body>
</html>