
.ALL
{
    height: auto;
    width: 500px;
    background-color: rgb(219, 218, 218);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 999;
}

.head  
{
    width: 500px;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex; /* Используем flexbox внутри .head */
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
   
}

.search
{
    width: 95%;
    height: 60px;
    background-color: rgb(219, 218, 218);
    /* border-radius: 12px; */
    position: relative;
    text-align: left;
    margin-top: 1px;
    display: flex;
    align-items: center;
}

.search div {
    margin: 0 0px; /* Примерные отступы между элементами */
}

.a001 {
    width: 70px; /* Укажите требуемую ширину */
    height: auto; /* Поддержание соотношения сторон */
}
.a002 {
    width: 80%; /* Укажите требуемую ширину */
    height: auto; /* Поддержание соотношения сторон */
}

.txt_search
{
    color: darkgrey;
    position: absolute;
    top: 30%;
    margin-left: 30px;
}

.stage1
{
    width: 100%;
    height: 110px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
}

.stage2
{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    box-sizing: border-box;
    flex-direction: column;
}

.stage2_stage
{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    flex-direction: row;
}

.stage
{
    width: 68px;
    height: 68px;

    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: bottom;
}

.product {
    display: flex;
    align-items: stretch; /* Делаем блоки одинаковой высоты */
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 4px;
}

.product_img {
    flex: 0 0 auto; /* Не увеличивать размер блока */
    width: 33%;
    display: flex; /* Изменено */
    align-items: center; /* Изменено */
}

.product_img img {
    width: 100%;
    height: auto;
    display: block;
}

.product_text {
    flex: 1; /* Занимать оставшееся пространство */
    padding-left: 10px; /* Примерный внутренний отступ */
}

.product h1 {
    font-family: "Arial Unicode MS", sans-serif; /* Замените "Arial" на нужный вам шрифт */
    font-size: 24px; /* Измените размер шрифта по вашему желанию */
    font-weight: bold; /* Укажите желаемый вес шрифта */
    /* Дополнительные свойства */
    color: #333; /* Цвет текста */
    /* Другие свойства, если необходимо */
}


.product p {
    font-family: "Arial Unicode MS", sans-serif; /* Замените "Arial" на нужный вам шрифт */
    font-size: 16px; /* Измените размер шрифта по вашему желанию */
    font-weight: normal; /* Укажите желаемый вес шрифта */
    /* Дополнительные свойства */
    color: #333; /* Цвет текста */
    /* Другие свойства, если необходимо */
}

a {
    text-decoration: none;
  }

.offers
{
    width: 100%;
    height: 190px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    box-sizing: border-box;
}

.foot
{
    position: sticky;
    bottom: 0;
    width: 500px;
    height: 110px;
    background-color: white;
    /* display: inline-block; */
    /* position: fixed; */
    /* top: 650px; */
    left: auto;
    right: auto;
    flex-direction: row;
}

.foot_1
{
    width: 19%; /* Задайте здесь нужную ширину вашего div */
    height: 100%; /* Задайте здесь нужную высоту вашего div */
    background-size: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.foot_1 img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}