<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Мой банк</title>
</head>
<body>
    <div class="ALL">
        <div class="head">
            <div class="search">
                <br>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><span class="txt_search"> &#128269; авторизован {{ user.fio }} (нажми для выхода)</span></a>
                {% else %}
                <span class="txt_search"> &#128269; Поиск по KspiVlad (вы не автлоризованы)</span>
                {% endif %}
            </div>
        </div>
        <div class="promotions"></div>
        <div class="apps">
            <div class="app_stage">
                <div class="app" id="app1"><a href="QR/"><img src="/static/images/kaspi_QRapp_ico.png"></a></div>
                <div class="app" id="app2"><a href="bank/"><img src="/static/images/kaspi_MyBankapp_ico.png"></a></div>
                <div class="app" id="app3"><a href="QR/"><img src="/static/images/kaspi_MyPaysApp_ico.png"></a></div>
                <div class="app" id="app4"><a href="transfers/"><img src="/static/images/kaspi_TransApp_ico.png"></a></div>
            </div>
            <div class="app_stage">
                <div class="app" id="app5"><a href="QR/"><img src="/static/images/kaspi_ShopApp_ico.png"></a></div>
                <div class="app" id="app6"><a href="QR/"><img src="/static/images/kaspi_TravelApp_ico.png"></a></div>
                <div class="app" id="app7"><a href="QR/"><img src="/static/images/kaspi_GovApp_ico.png"></a></div>
                <div class="app" id="app8"><a href="QR/"><img src="/static/images/kaspi_ObjvlApp_ico.png"></a></div>
            </div>
            
            
        </div>
        <div class="offers"></div>
        
        <div class="foot">
            <div class="foot_1"><img src="/static/images/kaspi_MAIN_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_QR_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_MSGS_no_activ_ico.png"></div>
            <div class="foot_1"><img src="/static/images/kaspi_SERVICES_no_activ_ico.png"></div>
        </div>
    </div>
    
</body>
</html>