
.ALL {
    min-height: 800px;
    width: 500px;
    background-color: rgb(219, 218, 218);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.head  {
    width: 500px;
    height: 90px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.search {
    width: 95%;
    height: 60px;
    background-color: rgb(219, 218, 218);
    border-radius: 12px;
    position: relative;
    text-align: left;
    margin-top: 1px;
}

.txt_search {
    color: darkgrey;
    position: absolute;
    top: 30%;
    margin-left: 30px;
}

.stage1 {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
}

.stage2_stage {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    flex-direction: row;
}

.apps {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.app_stage {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.app {
    width: auto;
    height: auto;
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: bottom;
}

.offers {
    width: 100%;
    height: 190px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.foot {
    position: sticky;
    bottom: 0;
    width: 500px;
    height: 110px;
    background-color: white;
    left: auto;
    right: auto;
    flex-direction: row;
}

.foot_1 {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}